body {
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Pour éviter le défilement */
}


.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    vertical-align: super; /* Pour positionner en exposant */
    margin-left: 5px; /* Espace entre le texte et la gélule */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    font-family: Trebuchet MS, sans-serif; /* Appliquez la police Roboto */
    font-weight: bold;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
    background-color: #555;
    border: none;
    cursor: pointer;
    font-family: Trebuchet MS, sans-serif; /* Appliquez la police Roboto */
    font-weight: bold;
     font-size: 1.74rem;
}


nav button {
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
    background-color: #555;
    border: none;
    cursor: pointer;
    font-family: Trebuchet MS, sans-serif; /* Appliquez la police Roboto */
    font-weight: bold;
}

nav button:hover {
    background-color: #777;
}

.content {
    position: relative;
    width: 100%;
    height: 80vh; /* Prend toute la hauteur de la fenêtre */
    overflow: hidden;
    
    box-sizing: border-box; /* Inclure la bordure dans la taille totale de l'élément */
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(100%); /* Commence hors de l'écran à droite */
    border: 20px solid #555; /* Bordure autour de chaque page */
    box-sizing: border-box; /* Inclut la bordure dans la taille totale de la div */
    padding: 20px; /* Ajoute un peu d'espace à l'intérieur */
    background-color: white; /* Fond blanc pour le contraste */
}

.active-button {
    background-color: #777; /* Couleur de fond lorsque le bouton est actif */
    color: white; /* Couleur du texte lorsque le bouton est actif */
}

.page.active {
    opacity: 1;
    transform: translateX(0); /* Apparaît au centre */
}

.page.exit {
    opacity: 0;
    transform: translateX(-100%); /* Sort de l'écran à gauche */
}
